.main-sign-in {
  width: 30%;
  margin: 0 auto;
}

.main-sign-in .container-logo {
  margin-left: -30px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.sign-in-title {
  font-size: 26px;
  margin-top: 30px;
}

.inputGroupEmail {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.inputGroupEmail input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroupEmail label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroupEmail :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}

.inputGroupEmail :is(input:focus, input:valid) {
  border-color: rgb(144, 144, 144);
}

.main-sign-in-button {
  padding: 12px 24px;
  background-color: black !important;
  color: #fff;
  border-radius: 40px;
}

.main-sign-in-button:hover {
  background-color: #3f3e3e !important;
  transition: 0.2s;
}

.main-sign-in .policy {
  margin: 30px 0;
  width: 80%;
  color: #696363;
  font-size: 15px;
}

.sign-up-title {
  font-size: 24px;
  margin-top: -30px;
}

.sign-up-edit {
  padding: 0;
}

.send-code {
  margin-top: -10px;
  width: 100%;
}

.email-sended-code {
  font-weight: 450;
}

.inputGroupCodeSignUp {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.inputGroupCodeSignUp input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroupCodeSignUp label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroupCodeSignUp :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}

.inputGroupCodeSignUp :is(input:focus, input:valid) {
  border-color: rgb(144, 144, 144);
}

/*  no move*/

.inputGroupNoMove {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.inputGroupNoMove input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroupNoMove label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);

  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}

.inputGroupNoMove :is(input:focus, input:valid) {
  border-color: rgb(144, 144, 144);
}

.agree-sign-up {
  width: 100%;
  display: inline-block;
}

.main-sign-up-button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: black !important;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 30px;
}

.main-sign-up-button:hover {
  background-color: #3f3e3e !important;
  transition: 0.2s;
}

.ctnlogo-signUp {
  margin-top: -1px !important;
}

.main-enter-password {
  width: 60% !important;
}

.enter-password-signIn-button {
  margin-top: 30px;
}

.main-detail-product {
  max-width: 80%;
  margin: 50px auto;
}

.detail-product-right {
  /* background-color: #ccc; */
}

.main-detail-product-img {
  width: 70px;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
  margin-bottom: 8px;
}

.main-img-detail-pro {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.container-main-detail-img-pro {
  max-height: 500px !important;
  overflow-y: scroll;
}

.detail-pro-name {
  font-size: 22px;
  font-weight: 450;
}

.detail-pro-select-size-title {
  font-size: 17px;
  font-weight: 450;
  width: 60%;
}

.size-guide {
  color: #7b7474;
  cursor: pointer;
  font-weight: normal;
}

.size-guide:hover {
  color: #605f5f;
}

.detail-product-left {
  position: relative;
  /* min-height: 100vh; */
}

.choose-color-img-pro {
  width: 70px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  border: none;
}

.choose-color-img-pro:hover {
  border: 2px solid #000;
}

.sticky-grid {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: 80vh;
}

.detail-pro-select-size-button-choose {
  width: 60%;
}

.detail-pro-select-size-button {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #dad7d7;
}

.detail-pro-select-size-button:hover {
  border: 2px solid black;
}

.cart-item-card .cart-item-card-img-product {
  border-radius: 3px;
}

.selected-border {
  border: 2px solid black;
}

.out-of-size {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: 2px solid #cdc9c9;
  cursor: default;
  color: #cdc9c9;
}

.interested {
  width: 60%;
}

.detail-pro-group-btn {
  width: 60%;
  margin-top: 20px;
}

.detail-pro-review {
  width: 60%;
}

.horizontal {
  height: 0.5px;
  background-color: #ccc;
  margin: 20px 0;
}

.main-size-guide-title {
  width: 80%;
  margin: 20px auto;
  font-weight: 450;
  font-size: 18px;
}

.main-foot-wear-size-chart {
  width: 60%;
  margin: auto;
}

.main-foot-wear-size-chart-title {
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 20px;
}

.list-chiTietSanPham {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.img-list-chiTietSanPham {
  margin-top: 5px;
  margin-right: 6px;
  width: 13%;
  object-fit: contain;
}

.card-product {
  min-height: 570px;
}

.moreThan {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25%;
  color: #928b8b;
}

.checkout-left {
  border-right: 1px solid #bcbcbc;
  padding-right: 15px;
  height: 116vh;
}

.main-choose-payment-method .rdo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.sub-rdo {
  border-radius: 4px;
  background-color: #f5f7f8;
  padding: 5px;
}

.rdo {
  width: 400px;
}

.rdo img {
  width: 30px;
}

.checkout-right {
  padding: 10px;
}

.cart-checkout-img {
  width: 80px;
  object-fit: contain;
  border-radius: 5px;
}

.badge-cart-checkout {
  right: -10px;
}

.input-maGiamGia {
  width: 100%;
  max-width: 220px;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  box-shadow: 0px 0px 20px -18px;
}

.input-maGiamGia:hover {
  box-shadow: 0px 0px 20px -17px;
}

.input-maGiamGia:focus {
  border: 2px solid grey;
}

.btn-apply-giamGia {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 9px 20px;
  margin-left: 10px;
}

.btn-apply-giamGia:hover {
  background-color: #3f3e3e !important;
  transition: 0.2s;
}

/* css page order successfull */
.check-container {
  width: 4.8rem;
  height: 6rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

.check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
    0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
      0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}

@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}

.discount-tag-detail-product {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #d80032;
  color: white;
  padding: 2px 5px;
  font-size: 9px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 6px;
}

/* continue shopping button */
.continue-shopping-btn {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #212122;
  cursor: pointer;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.continue-shopping-btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.continue-shopping-btn:hover .icon {
  transform: translate(4px);
}

.continue-shopping-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.continue-shopping-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* view order button */
.btn-view-order {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.btn-view-order:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-view-order:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-view-order:hover a {
  transition: 0.3s;
  color: #fff;
}

.btn-view-order:hover:before {
  top: -35%;
  background-color: #212122;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-view-order:hover:after {
  top: -45%;
  background-color: #212122;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
